html(lang="en")
    head
        title Cermin
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="bg-auto")
            section(class="bg-gray-800 pb-24")
                div(class="container px-4 mx-auto")
                    nav(class="relative flex justify-between items-center py-8")
                        a(class="text-gray-600 text-2xl leading-none", href="#")
                            img(class="h-8", src="mockup-assets/logos/shuffle-ux-light.svg", alt="", width="auto")
                        div(class="lg:hidden")
                            button(class="block navbar-burger text-gray-50 hover:text-gray-200 focus:outline-none")
                                svg(class="h-4 w-4", fill="currentColor", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex ml-auto mr-auto items-center w-auto space-x-12")
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#cermin") Cermin
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#cursos") Cursos
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#eventos") Eventos
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#certificado") Certificado
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#galeria") Galeria
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#recursos") Recursos
                            li
                                a(class="text-md text-red-500 hover:text-gray-100", href="#contacto") Contacto
                        ul(class="hidden lg:flex items-center w-auto space-x-12")
                            li
                                a(class="text-md text-gray-50 hover:text-gray-200", href="#") Iniciar Sesión
                            li
                                a(class="text-md text-gray-50 hover:text-gray-200", href="#") registrate
                    div(class="my-16 bg-gray-800")
                        div(class="container px-4 mx-auto")
                            div(class="max-w-4xl mx-auto text-center mb-12")
                                span(class="text-gray-200") Perú
                                h2(class="mt-4 mb-8 text-5xl lg:text-6xl text-white font-bold font-heading") CEMIN INGENIERÍA Y CONSTRUCCIÓN S.A.C.
                                a(class="inline-block w-full lg:w-auto py-3 px-6 mb-3 lg:mb-0 lg:mr-3 bg-white hover:bg-gray-50 text-gray-900 font-semibold border border-white rounded transition duration-200", href="#cursos") Nuestros Cursos
                                a(class="inline-block w-full lg:w-auto py-3 px-6 text-gray-50 hover:text-gray-100 font-bold border rounded", href="#eventos") Eventos
                div(class="hidden navbar-menu relative z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25")
                    nav(class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-2xl font-semibold leading-none", href="#")
                                img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#cermin") Cermin
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#cursos") Cursos
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#eventos") Eventos
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#certificado") Certificado
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#galeria") Galeria
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#recursos") Recursos
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#contacto") Contacto
                        div(class="mt-auto")
                            div(class="pt-6")
                                a(class="block px-6 py-2 mb-3 text-sm text-center text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded", href="#") Iniciar Sesión
                                a(class="block px-6 py-2 mb-2 text-sm text-center text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded", href="#") Registrate
                            p(class="mt-6 mb-4 text-sm text-center text-gray-400")
                                span © 2021 All rights reserved.
            section(class="py-20")
                div(class="container px-4 mx-auto" id="cermin")
                    div(class="max-w-2xl mx-auto mb-16 text-center")
                        span(class="text-sm text-gray-200 uppercase") Perú
                        h2(class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading") CERMIN
                    div(class="flex flex-wrap -mx-4 -mb-12 lg:-mb-16")
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") ¿QUIENES SOMOS?
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") CEMIN INGENIERÍA Y CONSTRUCCIÓN SAC, creada por un equipo de profesionales dedicados a brindar servicios de capacitación, consultoría y construcción e Implementación de Sistemas de Gestión de Seguridad, Salud Ocupacional, Medio Ambiente y calidad, en el sector Minero, Civil, instituciones públicas y transporte, bajo normas nacionales e internacionales cumpliendo la legislación actual a través de una gestión de mejora continua que cubra las necesidades de nuestros clientes, bajo un enfoque de responsabilidad social, asegurando el cuidado del medio ambiente, seguridad y salud de los trabajadores.
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") OBJETIVO
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") Es ofrecer nuestros servicios con alta calidad para contribuir al desarrollo empresarial de nuestros clientes, bienestar de sus colaboradores y cuidar el medio ambiente manteniendo un equilibrio óptimo.
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") VISIÓN
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") CEMIN INGENIERIA Y CONSTRUCCIÓN SAC al 2022 será una empresa líder en el mercado nacional reconocida, brindando servicios especializados en capacitaciones, entrenamiento, consultoría, ingeniería y construcción, en seguridad, salud ocupacional, medio ambiente y calidad.
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") MISIÓN
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") Brindar servicios de excelencia a instituciones públicas y empresas privadas en capacitación, consultoría, entrenamiento en distintas áreas de formación, desarrollando relaciones estratégicas y duraderas orientados a una mejora continua mediante el fortalecimiento de sus competencias, conocimientos y valores.

            section(class="py-20")
                div(class="container px-4 mx-auto" id="cursos")
                    div(class="max-w-2xl mx-auto mb-16 text-center")
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading") CURSOS
                    div(class="flex flex-wrap items-center bg-gray-50 rounded p-6 lg:p-12 mb-6")
                        div(class="w-full lg:w-1/5 px-4 mb-4 lg:mb-0 self-start")
                            h3(class="text-3xl font-bold font-heading") Anexo 4
                        div(class="w-full lg:w-2/5 px-4 mb-4 lg:mb-0")
                            ul(class="text-base lg:text-lg")
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p Complete documentation
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p Working materials in Figma
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p 100GB cloud storage
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p 500 team members
                        div(class="w-full lg:w-1/5 px-4 mb-8 lg:mb-0 lg:text-center")
                            span(class="inline-block mb-2 text-4xl font-bold font-heading") S/ 35,55
                            p(class="text-lg text-gray-500") por mes
                        div(class="w-full lg:w-1/5 px-4 lg:text-right")
                            a(class="inline-block px-10 py-2 text-sm text-white font-bold leading-loose bg-gray-800 hover:bg-gray-500 rounded transition duration-200", href="#") Get Started
                    div(class="flex flex-wrap items-center mb-6 bg-gray-800 rounded p-6 lg:p-12")
                        div(class="w-full lg:w-1/5 px-4 self-start")
                            h3(class="mb-4 lg:mb-0 text-3xl text-white font-bold font-heading") Anexo 6
                        div(class="w-full lg:w-2/5 px-4")
                            ul(class="mb-4 lg:mb-0 text-base lg:text-lg text-white")
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p Complete documentation
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p Working materials in Figma
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p 100GB cloud storage
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p 500 team members
                        div(class="w-full lg:w-1/5 px-4 mb-8 lg:mb-0 lg:text-center")
                            span(class="inline-block mb-2 text-4xl text-white font-bold font-heading") S/ 65,55
                            p(class="text-lg text-gray-50") por mes
                        div(class="w-full lg:w-1/5 px-4 lg:text-right")
                            a(class="inline-block px-10 py-2 text-sm text-gray-500 font-bold leading-loose bg-white hover:bg-gray-50 rounded transition duration-200", href="#") Get Started
                    div(class="flex flex-wrap items-center bg-gray-50 rounded p-6 lg:p-12")
                        div(class="w-full lg:w-1/5 px-4 self-start mb-4 lg:mb-0")
                            h3(class="text-3xl font-bold font-heading") Articulo 75
                        div(class="w-full lg:w-2/5 px-4 mb-4 lg:mb-0")
                            ul(class="text-base lg:text-lg")
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p Complete documentation
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p Working materials in Figma
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p 100GB cloud storage
                                li(class="mb-2 flex items-center")
                                    svg(class="mr-2 w-6 h-6 text-red-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                    p 500 team members
                        div(class="w-full lg:w-1/5 px-4 mb-8 lg:mb-0 lg:text-center")
                            span(class="inline-block mb-2 text-4xl font-bold font-heading") S/ 99,99
                            p(class="text-lg text-gray-500") por mes
                        div(class="w-full lg:w-1/5 px-4 lg:text-right")
                            a(class="inline-block px-10 py-2 text-sm text-white font-bold leading-loose bg-gray-800 hover:bg-gray-500 rounded transition duration-200", href="#") Get Started
            section(class="py-20")
                div(class="container px-4 mx-auto" id="eventos")
                    div(class="max-w-3xl mx-auto mb-12 lg:mb-16 text-center")
                        h2(class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading") Eventos
                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                    div(class="flex flex-wrap -m-4")
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Seminarios 
                                        p(class="mb-2 text-lg text-gray-400") 25/07/2021
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Charlas
                                        p(class="mb-2 text-lg text-gray-400") 26/07/2021
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Reuniones de Seguridad
                                        p(class="mb-2 text-lg text-gray-400") 28/07/2021
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Jornada de Seguridad 
                                        p(class="mb-2 text-lg text-gray-400") 29/07/2021
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4 -mb-8")
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 4,536
                            p(class="text-lg text-gray-300") Alumnos
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 356
                            p(class="text-lg text-gray-300") Docentes
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 100
                            p(class="text-lg text-gray-300") Cedes
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 100+
                            p(class="text-lg text-gray-300") Cursos
            section(class="py-20")
                div(class="container px-4 mx-auto" id="certificado")
                    div(class="max-w-2xl mx-auto mb-16 text-center")
                        h2(class="mb-6 text-4xl lg:text-5xl font-bold font-heading") Certificado
                        div(class="flex items-center justify-center")
                            div(class="mr-6")
                                img(class="w-16 h-16 object-cover rounded-full", src="mockup-assets/images/gray-300-avatar.png", alt="")
                            div
                                h3(class="text-2xl font-bold font-heading") Cermin
                                p(class="text-lg text-gray-500") Febrero 26, 2021
                    div(class="h-96")
                        img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-horizontal.png", alt="")

            section(class="py-20")             
                div(class="container px-4 mx-auto" id="galeria")
                    div(class="max-w-lg mb-8 mx-auto text-center")
                        h2(class="mt-2 text-4xl lg:text-5xl font-bold font-heading") Galeria
                    div(class="mb-8 lg:mb-16 text-center")
                        button(class="text-lg mr-6 border-b-4 border-gray-500 pb-3") Cursos
                        button(class="text-lg mr-6 text-gray-500 pb-3") Anexo 4
                        button(class="text-lg mr-6 text-gray-500 pb-3") Anexo 6
                        button(class="text-lg mr-6 text-gray-500 pb-3") Articulo 75
                        button(class="text-lg mr-6 text-gray-500 pb-3") Defensivo 4x4
                        button(class="text-lg mr-6 text-gray-500 pb-3") Programa de Supervisores
                    div(class="flex flex-wrap -mx-2")
                        div(class="flex flex-wrap w-full md:w-1/2 lg:h-screen")
                            div(class="w-1/2 h-64 lg:h-1/3 p-2")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                            div(class="w-1/2 h-64 lg:h-1/3 p-2")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                            div(class="w-full h-96 md:h-64 lg:h-2/3 p-2")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                        div(class="flex flex-wrap w-full md:w-1/2 lg:h-screen")
                            div(class="w-full h-96 md:h-64 lg:h-2/3 p-2")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                            div(class="w-1/2 h-64 lg:h-1/3 p-2")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                            div(class="w-1/2 h-64 lg:h-1/3 p-2")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")

            section(class="py-20")
                div(class="container px-4 mx-auto" id="recursos")
                    div(class="max-w-2xl mx-auto mb-16 text-center")
                        span(class="text-sm text-gray-200 uppercase") Perú
                        h2(class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading") RECURSOS
                    div(class="flex flex-wrap -mx-4 -mb-12 lg:-mb-16")
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") Revistas / Folletos / Seguridad Minera
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra aliquam varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus a fermentum massa. Sed molestie lacus a diam tristique porta. Mauris sed tincidunt turpis. Sed semper ornare purus, nec rutrum erat cursus finibus. Duis vel neque turpis. Vivamus congue dolor eget imperdiet venenatis.
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") Legislación
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra aliquam varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus a fermentum massa. Sed molestie lacus a diam tristique porta. Mauris sed tincidunt turpis. Sed semper ornare purus, nec rutrum erat cursus finibus. Duis vel neque turpis. Vivamus congue dolor eget imperdiet venenatis.
                        div(class="w-full mx-auto mb-16 text-center")
                            h2(class="mb-2 text-3xl font-bold font-heading") Código de colores
                            p(class="mb-4 text-lg text-gray-500 leading-loose text-left") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra aliquam varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus a fermentum massa. Sed molestie lacus a diam tristique porta. Mauris sed tincidunt turpis. Sed semper ornare purus, nec rutrum erat cursus finibus. Duis vel neque turpis. Vivamus congue dolor eget imperdiet venenatis.


            section(class="py-20")
                div(class="container px-4 mx-auto" id="contacto")
                    div(class="flex flex-wrap -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0")
                            div(class="max-w-lg")
                                h2(class="mb-6 lg:mb-12 text-4xl lg:text-5xl font-bold font-heading") Contactanos
                                h3(class="mb-1 text-2xl text-gray-800") Dirección
                                p(class="mb-6 text-lg text-gray-500 leading-loose") Huancayo, Huancayo - Perú
                                h3(class="mb-1 text-2xl text-gray-800") Contactos
                                p(class="text-lg text-gray-500 leading-loose") contactos@cerminperu.com
                                p(class="text-lg text-gray-500 leading-loose") 924-034-799 / 993-845-036
                        div(class="w-full lg:w-1/2 px-4")
                            form(action="#")
                                input(class="w-full py-3 pl-3 mb-4 border rounded", type="text", placeholder="Nombres")
                                input(class="w-full py-3 pl-3 mb-4 border rounded", type="email", placeholder="Correo")
                                textarea(class="mb-4 w-full p-3 border rounded resize-none", id="1", name="message", cols="30", rows="10", placeholder="Tu mensaje...")
                                button(class="w-full inline-block px-6 py-3 mr-4 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200") Enviar
            footer(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4 mb-8 lg:mb-16")
                        div(class="w-full lg:w-1/3 px-4 mb-12 lg:mb-0")
                            a(class="text-gray-600 text-2xl leading-none", href="#")
                                img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                            p(class="mt-5 mb-6 max-w-xs text-gray-500 leading-loose") Somos una empresa que brinda servisios de capacitación en seguridad, entrenamiento, psicología laboral, gestión de seguridad, salud ocupacional y medio ambiente, que trabaja con eficacia y eficiencia velando por la mejor y el cuidado de la seguridad en el sector minero e industrial.
                        div(class="w-full lg:w-2/3 px-4")
                            div(class="flex flex-wrap justify-between")
                                div(class="w-1/2 lg:w-1/4 mb-8 lg:mb-0")
                                    h3(class="mb-6 text-lg font-bold font-heading") Menú
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cermin") Nosotros
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cursos") Cursos
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#contacto") Contactanos
                                div(class="w-1/2 lg:w-1/4 mb-8 lg:mb-0")
                                    h3(class="mb-6 text-lg font-bold font-heading") Cursos
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cursos") Anexo 4
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cursos") Anexo 6
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cursos") Articulo 75
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cursos") Manejo defensivo 4x4
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#cursos") Programa de Supervisores
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#certificado") Certificado
                                div(class="w-1/2 lg:w-1/4 mb-8 lg:mb-0")
                                    h3(class="mb-6 text-lg font-bold font-heading") Siguenos
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="inline-block h-6 mr-8", href="#")
                                                img(class="mx-auto", src="mockup-assets/socials/facebook.svg")
                                        li(class="mb-4")
                                            a(class="inline-block h-6 mr-8", href="#")
                                                img(class="mx-auto", src="mockup-assets/socials/github.svg")
                                        li(class="mb-4")
                                            a(class="inline-block h-6 mr-8", href="#")
                                                img(class="mx-auto", src="mockup-assets/socials/linkedin.svg")
                                        li
                                            a(class="inline-block h-6", href="#")
                                                img(class="mx-auto", src="mockup-assets/socials/twitter.svg")
                    div(class="border-t border-gray-50 pt-8")
                        p(class="lg:text-center text-sm text-gray-400") All rights reserved © CEMIN INGENIERÍA Y CONSTRUCCIÓN S.A.C. 2021
